<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전통주 취향 테스트</title>
   <link rel="stylesheet" href="../public/test.css">
</head>
<body>

    
    

   
    <div id="title">
        <h1>전통주 취향 테스트</h1>
        <div>
        <img src="../uploads/home.PNG" alt="mainImg" class="imgs">
        </div>
        <p>나에게 맞는 전통주 취향을 알아보세요</p>

        <button onclick="js:start()">테스트 시작</button>
    </div>
 
  
    <div id="content">
        <div class="status">
            <div class="statusBar">
            </div>
        </div>
        <h1 id="q">

        </h1>

        <h3 id="a">
            
        </h3>
    </div>
 
   
    <div id="result">
        <h1>내 술 취향은?</h1>
        <div class="resultTitle">

        </div>
        <div id="resultImg">
        <!-- <img> -->
        </div>
        <div class="resultContent">

        </div>
        <% for (var i = 0; i < posts.length ; i ++) { %>
        <h2 class="content"><%= posts[i].content %></h2>
        <p class="answer"><%= posts[i].answer1 %>
          <%= posts[i].answer2 %></p>
        <% } %> 
        <button class="re" onclick="location.href='test' ">다시하기</button>
        <button class="share">공유하기</button>
        
    </div>

    
    
    <script charset="utf-8">
        const title = document.querySelector("#title");
        const content = document.querySelector("#content");
        const process = 8;
        const result = document.querySelector("#result");
        const select = [0, 0, 0, 0, 0, 0, 0, 0];
        
        function claculate(){
            console.log(select);
            var result = select.indexOf(Math.max(...select));   //배열의 최댓값을 가지고 있는 인덱스 반환
            return result;
          }
        function set(){
            let point = claculate();
            const resultTitle = document.querySelector('.resultTitle');
            resultTitle.innerHTML = infoList[point].name;

            var resultImg = document.createElement('img');
            const imgDiv = document.querySelector('#resultImg');
            var imgURL = 'uploads/image-' + point + '.png';
            resultImg.src = imgURL;
            resultImg.alt = point;
            resultImg.classList.add('imgs');
            imgDiv.appendChild(resultImg);

            const resultContent = document.querySelector('.resultContent');
            resultContent.innerHTML = infoList[point].desc;
        }  
        

        function answer(answerText, num, id){
            let a = document.querySelector("#a");
            let answer = document.createElement("Button");
            answer.classList.add('answerList'); //질문버튼을 한 군집으로 묶어서 없애기 위해(다음 질문을 띄우기 위해) 하나로 묶는 클래스 생성
            answer.classList.add('fadeIn');

            a.appendChild(answer);
            answer.innerHTML =answerText;
            answer.addEventListener("click", function(){
                let answers = document.querySelectorAll('.answerList')  //버튼을 하나로 묶은 클래스로 이루어진 변수
                for(let i = 0; i <answers.length; i++){
                    answers[i].disabled = true;     //답변 버튼중 하나만 클릭해도 다른 버튼들 무시
                    answers[i].style.WebkitAnimation = "fadeOut 0.5s";
                    answers[i].style.animation = "fadeOut 0.5s";
                    answers[i].style.display = 'none';    //and 버튼들 사라짐
                }
                setTimeout( ()=>{
                    var target = qList[num].a[id].type;   //몇번째 질문에서 몇번째 버튼을 클릭하였는지
                    for(let i = 0; i < target.length; i++){
                        select[target[i]] += 1;
                    }
                    for(let i = 0; i <answers.length; i++){
                    answers[i].style.display = "none";
                    } next(++num);
                }, 450)
                
            })
        }

        function Result(){
            content.style.WebkitAnimation = "fadeOut 1s";
            content.style.animation = "fadeOut 1s";
            setTimeout( ()=>{
                result.style.WebkitAnimation = "fadeIn 1s";
                result.style.animation = "fadeIn 1s";
                setTimeout( ()=>{
                    content.style.display = "none";
                    result.style.display = "block";
                }, 450)})
                set();
            }

        function next(num){
            if(num ==  process){
                Result();
                return;
            }
            const q = document.querySelector("#q");
            q.innerHTML = qList[num].q;
            for (let i in qList[num].a){
                answer(qList[num].a[i].answer, num, i);
            } 
            let status = document.querySelector('.statusBar');
            status.style.width = (100/process) * (num + 1) + '%'
        }

        
        function start(){
           
           title.style.WebkitAnimation = "fadeOut 1s";
           title.style.animation = "fadeOut 1s";
           setTimeout( ()=>{
            content.style.WebkitAnimation = "fadeIn 1s";
            content.style.animation = "fadeIn 1s";
            setTimeout( ()=>{
                title.style.display = "none";
                content.style.display = "block";
            }, 450)
            let num = 0;
            next(num);
           }, 450);
           
        }
        
/*
mouse,0
cow,1
tiger,2
rabbit,3
dragon,4
snake,5
horse,6
sheep,7
monkey,8
chick,9
dog,10
pig,11
*/

        const qList = [
  {
    q: '1. 내가 자주가는 카페는?',
    a: [
      { answer: 'a. 이디야', type: ['1', '2', '4'] },
      { answer: 'b. 스벅', type: ['0', '3', '6', '5'] },
    ]
  },
  {
    q: '2. 술을 마시면 얼마나 먹어?  ',
    a: [
      { answer: 'a. 알딸딸~ 가볍게!', type: ['0', '3', '2'] },
      { answer: 'b. 만취', type: ['1', '6', '5'] },
    ]
  },
  {
    q: '3. 어떤 주종이 끌리나요?',
    a: [
      { answer: 'a. 탁주', type: ['1', '3', '2'] },
      { answer: 'b. 약주', type: ['7'] },
      { answer: 'c. 증류주', type: ['0', '6', '5', '4'] },
      { answer: 'd. 과실주', type: ['7'] },
      { answer: 'e. 기타주류', type: ['7'] },
    ]
  },
  {
    q: '4. 설빙에 갔다 어떤 메뉴를 고를까?',
    a: [
      { answer: 'a. 인절미 빙수 ', type: ['1', '2', '4' ] },
      { answer: 'b. 초코 빙수 ', type: ['7'] },
    ]
  },
  {
    q: '5. 냉면 먹을 때 식초를 얼마나 뿌릴까?',
    a: [
      { answer: 'a. 식초는 무슨~ 본연의 맛 그대로 먹자!', type: ['1', '7', '4'] },
      { answer: 'b. 식초는 2바퀴 이상 둘러야지!', type: ['0', '3', '6']},
    ]
  },

  {
    q: '6. 식당에서 나올 때 후식으로 사탕이 있다. 당신이 고른 사탕은?',
    a: [
      { answer: 'a. 시원~한 박하사탕', type: ['4' ] },
      { answer: 'b. 구수~한 누룽지사탕', type: ['0', '3', '6' ] },
    ]
  },
  {
    q: '7. 친구들끼리 놀러가는 차에서 노래를 선곡해야 한다면 어떤 스타일의 노래를 틀까?',
    a: [
      { answer: 'a. 신나는 여름노래, 댄스곡', type: ['1', '7' ] },
      { answer: 'b. 신나는건 랩이지!! 힙스터 느낌의 힙합', type: ['2', '4' ] },
    ]
  },
  {
    q: '8. 술자리에서 내가 더 가까운 포지션은?',
    a: [
      { answer: 'a. 안주는 내게 맡겨! "안주킬러" ', type: ['0', '4' ] },
      { answer: 'b. 안주는 무슨 술 먹기도 바빠! "알코올킬러"', type: ['3', '2', '6', '5' ] },
    ]
  },
 
]

const infoList = [
  {
    name: '연애 뭐 식은 죽 먹기죠, 연애 재능 만땅 <쥐>',
    desc: '연애의 프로재능러인 당신! 쥐에 해당하는 당신은 연애의 모든 것들을 알고 있어, 쉽게 연애에 성공하는 스타일이랍니다. 주로 포부가 크고 성격이 낙천적인 성향을 가지고 있고, 논리적이면서 두뇌회전이 매우 빠르다고 할 수 있어요. 말재주 또한 좋아 사교성이 좋고 유쾌하지만 화려한 것을 좋아해 허영심을 부리거나 사치를 부리기 때문에 이 점들을 주의해야 돼요. 뛰어난 능력에 자만하는 경우도 종종 있기 때문에 겸손이 필요하답니다! '
  },
  {
    name: '난 너만 봐, 정직한 연애 스타일의 <소>',
    desc: '연애 유형의 진국인 당신! 소에 해당하는 당신은 상대방만 바라보는 해바라기 연애 스타일이랍니다. 매사에 끈기가 있어 연애를 할 때 성실하고 진심을 다하는 성향을 가지고, 온화하며 따뜻한 마음을 가지고 있어요. 한 번 좋아하면 끝까지 좋아하는 의리파지만 자존심이 쌔 은근히 고집이 강하답니다. 또한 욱하는 성질이 있어 이런 부분들을 조심해야 하고, 질투심이 많아 사랑이 집착으로 바뀔 수 있어 주의해야 된답니다! '
  },
  {
    name: '야 사귀자, 사랑을 쟁취하는 <호랑이>',
    desc: '한 번 좋아하는 사람이 있으면 내 사람으로 만드는 당신! 호랑이에 해당하는 당신은 썸부터 사랑까지 한 번에 직진하는 스타일이랍니다. 연애할 때 주로 이끄는 성향을 가지고 있고, 시원시원한 성격과 유쾌한 성격을 가지고 있어요. 대쪽같은 성격에다 실수를 용납하는 대인배지만 유혹에 약하고 허영때문에 들뜨는 성격이라 다른 이성의 접근에 주의해야 돼요. 또한 내가 한 말로 인해 상대방이 상처를 받을 수 있기 때문에, 항상 말 조심이 필요하답니다!'
  },
  {
    name: '이건 어때? 난 어때? 독특한 매력을 가진 <토끼>',
    desc: '상대방을 홀리게 만드는 당신! 신비롭고 독특한 매력을 가져, 상대방이 푹 빠지게 만드는 스타일이에요. 직감이 발달되어 손재주가 뛰어난 편이고, 연애할 때 통통 튀는 모습들을 많이 보여준답니다. 유순하고 낙천적인 성향이지만, 자칫잘못하면 상대방에게 천진난만한 아이처럼 보일 수 있는 점을 주의해야 돼요. 또한 감정 기복이 심한 편이라 변덕스러운 마음을 가질 수 있어, 이런 부분들에 신경을 쓴다면 좋은 연애를 할 수 있어요.'
  },
  {
    name: '결혼은 언제쯤 할까 신혼여행은 어디로?, 이상적인 연애관의 소유자 <용>',
    desc: '상대방과의 미래를 꿈꾸는 당신! 현실적인 연애보다는, 미래에 대한 이상적인 연애관을 가지고 있어요. 매일매일 사랑하는 사람과 보낼 미래를 생각하기 때문에, 좋은 신랑감이 될 수 있는 자질이 있답니다. 또한 일적으로나 사랑으로나 야망이 커, 크게 성공할 확률이 높고 리더십이 매우 뛰어나답니다. 다만 높은 이상에 비해서 현실이 자신의 마음에 들지 않으면 허세를 부리거나 사람들을 무시하는 경우가 많으니 이점들을 주의하면 좋을 것 같아요!'
  },
  {
    name: '기념일에 무슨 이벤트 할까, 이벤트 플래너 <뱀>',
    desc: '상대방의 기념일을 챙기며 깜짝 놀라게 하는 당신!, 아이디어가 뛰어나고 남다른 감각이 있어, 상대방에게 많은 이벤트를 해주는 스타일이에요. 연애할 때 눈치도 빠르고, 감동을 줄 수 있어 상대방이 매일 행복하답니다. 전체적으로 화려한 연애를 하지만, 은근히 비밀이 많고 우유부단한 성격을 가지고 있답니다. 또한 귀가 매우 얇아 남의 이야기를 곧이 곧대로 믿어, 상대방을 의심하기도 하기 때문에 조심해야 된답니다!'
  },
  {
    name: '어 오늘 머리 바꿨네 잘 어울린다, 센스가 뛰어난 <말>',
    desc: '연애할 때, 센스가 넘쳐나는 당신! 말재주가 뛰어나며 처세술이 뛰어나, 상대방의 호감을 금방 얻는답니다. 낙천적이고 유연한 성격을 가지고 있으며, 구속받는 것을 싫어하는 스타일이에요. 소중한 사람들을 위해 희생할 줄도 알지만, 쾌략 지향적인 경우가 많아 사치와 허영에 물드는 경우가 다반수입니다. 한탕 주의에 빠져 쉽게 망가질 수 있기 때문에 이 점을 주의해야 된답니다!'
  },
  {
    name: '난 너랑 하는 것들 다 좋아, 순종적인 <양>',
    desc: '연애할 때 모든 걸 맞춰주려고 하는 당신! 다정한 느낌과 상냥한 모습을 가지고 있어, 상대방 입장에서 편안한 느낌을 받을 수 있답니다. 타오르는 연애보다는 안정적인 연애를 추구하고, 상대방에게 마음을 여는 순간 진심으로 사랑에 푹 빠질 수 있습니다. 또한 강인한 생존력과 수완이 좋으나, 한편으로는 자신이 원하는 바를 모두 쟁취하려는 고집이 있어요. 이 고집이 심해지면 다른 사람 눈에서는 계산적인 사람처럼 보여 매력을 잃을 수 있습니다!'
  },
]
    </script>
</body>
</html>