<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
   <link rel="stylesheet" href="../public/register.css">
</head>
<body>
    <%- include('nav.html') %>  <!-- 상대경로의 html삽입-->
    
    <h1>회원가입</h1>
    <form action="/api/auth/register" method="POST" enctype="multipart/form-data">
        <p>
            <label for="id">ID</label>
            <input type="text" name="id" id="id" placeholder="ID">
        </p>
        <p>
            <label for="pw">비밀번호</label>
            <input type="password" name="password" id="password" placeholder="비밀번호">
        </p>
        <p>
            <label for="pw">이름</label>
            <input type="text" name="name" id="name" placeholder="이름">
        </p>
        <p>
        <input type="file" name="img" id="image">
        </p>
        <input type="submit" value="가입"> 
    </form>
</body>
</html>